:root {
	--accent-bg-color: #2196f3;
	--button-accent-color: #ffffff;
	--main-text-content: #757575;
	--title-text-color: #000000;
	--hero-bcg-color: #2f303a;
	--text-accent-color: #2196f3;
	--footer-bcg: #2f303a;
	--footer-text-color: #ffffff;
	--filter-item-bcg: #f5f4fa;
	--filter-item-text-color: #212121;
	--page-bcg-color: #ffffff;
	--logo-blue-text-color: #2196f3;
	--hero-section-text-color: #ffffff;
	--our-team-section-bcg-color: #f5f4fa;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--main-text-content);
	background-color: var(--page-bcg-color);
}
.logo-black-color {
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	text-decoration: none;
}
.logo-white-color {
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--footer-text-color);
	text-decoration: none;
}
.logo {
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--logo-blue-text-color);
	text-decoration: none;
}
.hero-section {
	background-color: var(--hero-bcg-color);
}
.hero-section > h1 {
	color: var(--hero-section-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	width: 696px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.nav-links-item:hover,
.nav-links-item:focus,
.auth-links-item:hover,
.auth-links-item:focus {
	color: var(--text-accent-color);
}

.filter-item:hover,
.filter-item:focus {
	color: var(--button-accent-color);
	background-color: var(--accent-color);
}
.filter-list {
	list-style: none;
}
.nav-links-item {
	color: var(--title-text-color);
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.auth-links-item {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-text-content);
}

.nav-links,
.auth-links {
	list-style: none;
}

.hero-button {
	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

.hero-button:hover {
	color: var(--title-text-color);
	background-color: var(--accent-bg-color);
}
.hero-button:focus {
	color: var(--title-text-color);
	background-color: var(--accent-bg-color);
}
.accent {
	color: var(--button-accent-color);
	background-color: var(--accent-bg-color);
}

.filter-item {
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--filter-item-text-color);
	background-color: var(--filter-item-bcg);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.filter-item-all {
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--button-accent-color);
	background-color: var(--accent-bg-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.filter-item:hover,
.filter-item:focus {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--button-accent-color);
	background-color: var(--accent-bg-color);
}

.company-rules-section-h3 {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
}

.company-rules-section-p {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.company-rules-section-ul {
	list-style: none;
}

.how-we-do-section-h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}

.how-we-do-section-ul {
	list-style: none;
}

.our-team-section {
	background-color: var(--our-team-section-bcg-color);
}
.our-team-section-ul {
	list-style: none;
	/* margin-bottom: 0px; */
}
/* .our-team-section-ul li { */
	/* margin-bottom: 0px; */
}
.our-team-section-h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}
.our-team-section-h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}

.our-team-section-p {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

.header {
	background-color: var(--page-bcg-color);
}

.footer {
	background-color: var(--footer-bcg);
	/* border: 1px solid black; */
}

.footer-p {
	color: var(--footer-text-color);
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.our-products-list {
	list-style: none;
}

.our-products-item-h2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: #212121;
}

.our-products-item-p {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
}

.current {
	color: var(--text-accent-color);
}

.auth-links-item-footer {
	font-style: normal;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-text-content);
}

.nav-links-item-footer:hover,
.nav-links-item-footer:focus,
.auth-links-item-footer:hover,
.auth-links-item-footer:focus {
	color: var(--text-accent-color);
}
/* .our-team-section-ul > li { */
/* width: 270px; */
/* height: 368px; */
/* margin-right: 30px; */
/* background-color: #ffffff; */
/* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
/* border-radius: 0px 0px 4px 4px; */
/* display: flex; */
/* } */
/* .our-team-section-ul {
	display: flex;
} */

/* main {
	border: 1px solid black;
	padding-bottom: 0;
} */
